:root {
  --white-color: #fff;
  --black-color: #030303;
  --orange-color: #ff3900;
  --light-orange-color: #fff4df;
  --blue-color: #1a5dc8;
  --mid-blue-color: #a7c4ea;
  --dark-blue-color: #618fd8;
  --light-blue-color: #e6f0ff;
  --lightest-gray-color: #f2f3f7;
  --light-gray-color: #d2d4e2;
  --mid-gray-color: #9099bb;
}
