@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: 'Qanelas';
  src: local('○'), url('/assets/fonts/Qanelas/Qanelas-Thin.woff') format('woff'), url('/assets/fonts/Qanelas/Qanelas-Thin.ttf') format('truetype');
}

